In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.model_selection import train_test_split
import xgboost as xgb
from imblearn.over_sampling import SMOTE

In [2]:
df = pd.read_csv("churn.csv")

In [3]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [4]:
df.isnull().sum().sum()

0

In [5]:
df=df.drop("customerID",axis=1)
df = pd.get_dummies(df)
df = df.drop("Churn_No",axis=1)

In [6]:
df

,SeniorCitizen,tenure,MonthlyCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9,Churn_Yes
0,0,1,29.85,True,False,False,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False
1,0,34,56.95,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,2,53.85,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
3,0,45,42.30,False,True,True,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
4,0,2,70.70,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,False,True,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
7039,0,72,103.20,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
7040,0,11,29.60,True,False,False,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
7041,1,4,74.40,False,True,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
7042,0,66,105.65,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
for c in df:
    if df[c].dtype=='bool':
        df[c] = df[c].map({True: 1, False: 0})
X = df.drop("Churn_Yes", axis=1)
y = df["Churn_Yes"]
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Columns: 6576 entries, SeniorCitizen to Churn_Yes
dtypes: float64(1), int64(6575)
memory usage: 353.4 MB

In [9]:
'''y_train = y_train.astype("category")
for c in X_train:
    X_train[c] = X_train[c].astype("category")
for c in X_test:
    X_test[c] = X_test[c].astype("category")'''

'y_train = y_train.astype("category")\nfor c in X_train:\n    X_train[c] = X_train[c].astype("category")\nfor c in X_test:\n    X_test[c] = X_test[c].astype("category")'

In [10]:
X_train, y_train

(      SeniorCitizen  tenure  MonthlyCharges  gender_Female  gender_Male  \
 3522              0      37           19.80              0            1
 2470              0      67           25.25              1            0
 3976              0       4           24.45              1            0
 5390              1      12           99.45              0            1
 2559              0      72          115.55              0            1
 ...             ...     ...             ...            ...          ...
 3537              0      25           53.65              0            1
 2500              0      50           75.50              0            1
 4000              1      39           99.75              1            0
 4756              0      31           72.45              0            1
 3884              0      18           88.85              1            0

       Partner_No  Partner_Yes  Dependents_No  Dependents_Yes  PhoneService_No  \
 3522           0            1              0               1                0
 2470           0            1              1               0                0
 3976           1            0              1               0                1
 5390           1            0              1               0                0
 2559           0            1              1               0                0
 ...          ...          ...            ...             ...              ...
 3537           0            1              0               1                0
 2500           0            1              0               1                0
 4000           1            0              1               0                0
 4756           1            0              1               0                0
 3884           0            1              1               0                0

       ...  TotalCharges_995.35  TotalCharges_996.45  TotalCharges_996.85  \
 3522  ...                    0                    0                    0
 2470  ...                    0                    0                    0
 3976  ...                    0                    0                    0
 5390  ...                    0                    0                    0
 2559  ...                    0                    0                    0
 ...   ...                  ...                  ...                  ...
 3537  ...                    0                    0                    0
 2500  ...                    0                    0                    0
 4000  ...                    0                    0                    0
 4756  ...                    0                    0                    0
 3884  ...                    0                    0                    0

       TotalCharges_996.95  TotalCharges_997.65  TotalCharges_997.75  \
 3522                    0                    0                    0
 2470                    0                    0                    0
 3976                    0                    0                    0
 5390                    0                    0                    0
 2559                    0                    0                    0
 ...                   ...                  ...                  ...
 3537                    0                    0                    0
 2500                    0                    0                    0
 4000                    0                    0                    0
 4756                    0                    0                    0
 3884                    0                    0                    0

       TotalCharges_998.1  TotalCharges_999.45  TotalCharges_999.8  \
 3522                   0                    0                   0
 2470                   0                    0                   0
 3976                   0                    0                   0
 5390                   0                    0                   0
 2559                   0                    0                   0
 ...                  ...                  ...                 ...
 3537                   0                    0                   0
 2500                   0                    0                   0
 4000                   0                    0                   0
 4756                   0                    0                   0
 3884                   0                    0                   0

       TotalCharges_999.9
 3522                   0
 2470                   0
 3976                   0
 5390                   0
 2559                   0
 ...                  ...
 3537                   0
 2500                   0
 4000                   0
 4756                   0
 3884                   0

 [5634 rows x 6575 columns],
 3522    0
 2470    0
 3976    1
 5390    1
 2559    0
        ..
 3537    0
 2500    0
 4000    0
 4756    0
 3884    0
 Name: Churn_Yes, Length: 5634, dtype: int64)

In [11]:
'''smt = SMOTE()
X_train, y_train = smt.fit_resample(X_train, y_train)'''

'smt = SMOTE()\nX_train, y_train = smt.fit_resample(X_train, y_train)'

In [12]:
#clf = xgb.XGBClassifier(objective="binary:logistic",eta=0.1,tree_method="approx")
maxy=[]
maxr=0;
for i in range(0,100,1):
    params = {"objective":"binary:logistic",'learning_rate': 0.2, 'seed':123, 'max_depth': 12, 'alpha':10, 'colsample_bytree': i/100}
    clf = xgb.XGBClassifier(**params)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    a = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    y_pred2 = clf.predict(X_train)
    accuracy2 = accuracy_score(y_train, y_pred2)
    precision2 = precision_score(y_train, y_pred2)
    recall2 = recall_score(y_train, y_pred2)
    f12 = f1_score(y_train, y_pred2)
    if (accuracy>maxr):
        maxr=accuracy
        maxy=[i,accuracy,accuracy2]
print(maxy)

C:\Users\subha\anaconda3\envs\gpu_env\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\subha\anaconda3\envs\gpu_env\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

[70, 0.8239886444286728, 0.8239261625843095]

In [13]:
print(maxy)

[70, 0.8239886444286728, 0.8239261625843095]

In [30]:
params = {"objective":"binary:logistic",'learning_rate': 0.2, 'seed':123, 'max_depth': 12, 'alpha':10, 'colsample_bytree': 0.7}
clf = xgb.XGBClassifier(**params)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [31]:
confusion_matrix(y_test, y_pred)

array([[949,  87],
       [161, 212]], dtype=int64)

In [32]:
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

In [33]:
accuracy, precision, recall, f1

(0.8239886444286728,
 0.7090301003344481,
 0.5683646112600537,
 0.6309523809523809)

In [18]:
y_pred2 = clf.predict(X_train)
accuracy = accuracy_score(y_train, y_pred2)
precision = precision_score(y_train, y_pred2)
recall = recall_score(y_train, y_pred2)
f1 = f1_score(y_train, y_pred2)

In [19]:
accuracy, precision, recall, f1

(0.8281860134895279, 0.7222222222222222, 0.5735294117647058, 0.639344262295082)

In [20]:
data_dmatrix = xgb.DMatrix(data=X_train,label=y_train)

In [21]:
params = {"objective":"binary:logistic",'colsample_bytree': 0.3,'learning_rate': 0.1,
                'max_depth': 5, 'alpha': 10}

xgb_cv = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,
                    num_boost_round=50, early_stopping_rounds=10, metrics="auc", as_pandas=True, seed=123)

In [22]:
xgb_cv

    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.804292       0.001258       0.792669      0.020760
1         0.819792       0.003210       0.809427      0.014843
2         0.828684       0.004084       0.818982      0.012384
3         0.837658       0.003004       0.827273      0.010029
4         0.836981       0.003064       0.824990      0.009684
5         0.842048       0.003217       0.830079      0.008781
6         0.841668       0.003801       0.830203      0.009539
7         0.842744       0.003728       0.831732      0.009104
8         0.843702       0.003671       0.832097      0.008503
9         0.846041       0.003243       0.834039      0.009106
10        0.846489       0.003379       0.833967      0.008567
11        0.848760       0.003492       0.835533      0.008364
12        0.848849       0.003697       0.836118      0.008359
13        0.848587       0.003738       0.836139      0.008706
14        0.848846       0.003828       0.836328      0.008835
15        0.848992       0.003900       0.836377      0.008602
16        0.848897       0.004063       0.836151      0.008439
17        0.849287       0.004038       0.836163      0.008606
18        0.850427       0.003969       0.837102      0.008605
19        0.850175       0.003991       0.836825      0.008555
20        0.850071       0.003949       0.836804      0.008427
21        0.851327       0.003903       0.837808      0.008199
22        0.851208       0.003957       0.837836      0.008280
23        0.851266       0.003923       0.837961      0.008519
24        0.851339       0.003916       0.837828      0.008448
25        0.851380       0.003864       0.837608      0.008413
26        0.851391       0.003816       0.837322      0.008308
27        0.851389       0.003975       0.837527      0.008251
28        0.852724       0.003902       0.838635      0.007897
29        0.853731       0.003964       0.839496      0.007751
30        0.854781       0.004019       0.840096      0.007568
31        0.854667       0.004032       0.840115      0.007647
32        0.854757       0.003974       0.840278      0.007763
33        0.854976       0.003990       0.840267      0.007770
34        0.855705       0.003925       0.840852      0.007423
35        0.855741       0.003876       0.840895      0.007527
36        0.856144       0.003935       0.841142      0.007509
37        0.856493       0.003944       0.841466      0.007389
38        0.856703       0.003834       0.841519      0.007460
39        0.857196       0.003887       0.841727      0.007195
40        0.857249       0.003911       0.841788      0.007311
41        0.857306       0.003831       0.841869      0.007288
42        0.857404       0.003842       0.841900      0.007302
43        0.857492       0.003907       0.841924      0.007396
44        0.857502       0.003922       0.841929      0.007395
45        0.857858       0.003862       0.842187      0.007273
46        0.857878       0.003876       0.842154      0.007362
47        0.857897       0.003869       0.842194      0.007369
48        0.858298       0.003957       0.842377      0.007347
49        0.858373       0.003952       0.842462      0.007380

In [23]:
xgb_cv = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,
                    num_boost_round=100, early_stopping_rounds=10, metrics="auc", as_pandas=True, seed=123)

In [24]:
xgb_cv

    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.804292       0.001258       0.792669      0.020760
1         0.819792       0.003210       0.809427      0.014843
2         0.828684       0.004084       0.818982      0.012384
3         0.837658       0.003004       0.827273      0.010029
4         0.836981       0.003064       0.824990      0.009684
..             ...            ...            ...           ...
61        0.860002       0.003986       0.843091      0.007321
62        0.859989       0.003988       0.843081      0.007310
63        0.860035       0.004025       0.843074      0.007369
64        0.860167       0.003976       0.843162      0.007269
65        0.860225       0.003985       0.843197      0.007309

[66 rows x 4 columns]

In [25]:
print(xgb_cv)

    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.804292       0.001258       0.792669      0.020760
1         0.819792       0.003210       0.809427      0.014843
2         0.828684       0.004084       0.818982      0.012384
3         0.837658       0.003004       0.827273      0.010029
4         0.836981       0.003064       0.824990      0.009684
..             ...            ...            ...           ...
61        0.860002       0.003986       0.843091      0.007321
62        0.859989       0.003988       0.843081      0.007310
63        0.860035       0.004025       0.843074      0.007369
64        0.860167       0.003976       0.843162      0.007269
65        0.860225       0.003985       0.843197      0.007309

[66 rows x 4 columns]

In [26]:
params = {"objective":"binary:logistic",'colsample_bytree': 0.3,'learning_rate': 0.1,
                'max_depth': 10, 'alpha': 10}
xgb_cv = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,
                    num_boost_round=100, early_stopping_rounds=10, metrics="auc", as_pandas=True, seed=123)

In [27]:
xgb_cv

    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.805471       0.001161       0.793275      0.020710
1         0.820600       0.002897       0.809543      0.014659
2         0.828986       0.003915       0.819234      0.012240
3         0.838255       0.002603       0.827520      0.010027
4         0.837555       0.002848       0.825061      0.009729
..             ...            ...            ...           ...
61        0.861704       0.003829       0.842995      0.007248
62        0.861699       0.003819       0.842989      0.007241
63        0.861721       0.003839       0.843021      0.007275
64        0.861887       0.003803       0.843125      0.007303
65        0.861934       0.003816       0.843133      0.007340

[66 rows x 4 columns]